.tr {
  display: block;
}
/* ====== Сообщение> контакт> ссылка на профиль ====== */
#application-wrapper > div > div.popup-overlay-wrapper > div.popup-overlay.visible > div > div.popup-overlay-content > div > div.ui-scroll-area > div > div.popup-component > div > div > div.contact-details > div.contact-details__body > div:nth-child(2) > button:nth-child(1) {
  display: none !important;  
}

.popup-overlay .popup-overlay-content .terms-of-service {
  display: none;
}

.select-withdraw-method {
	display:none !important;
}

.modal {
    border-radius: 12px !important;
}
.coomeet-chat .stories .stories-viewer .stories-ui .user-info__content--name__copy {
	display:none !important;
}

body::after {
  content: "style-applied";
  display: none;
}
